target remote localhost:3333

define dumpmemory
  dump binary memory $arg0.dump 0x20000000 0x20020000
end

define dc
  dumpmemory $arg0
  continue
end

define b_file_open
  break *0x0809e16a
  commands
    silent
    printf "file_open(%h, %s, %s),", $r0, $r1, $r2
    #x/s $r1
    #x/s $r2
  end
end

# break *0x080bc992
# commands
# silent
# printf "Target=%.2f, %.2f\n",*(0x2000e948 + 4*0x2a), *(0x2000e948 + 4*0x2d)
# continue 10
# end

# display/f *0x2000e9ec
# watch *0x2000e9ec